*{
    margin: 0;
    padding: 0;
}
.khung {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid blue;
}

.container{
    display: flex;
    gap: 20px;

}
li{
    list-style: none;
}
.mau {
    background-color: aquamarine;
    color: coral;
    cursor: pointer;
}
.disabled {
    background-color: white;
    color: black;
    cursor: not-allowed;
}
.tron {
    display: flex;
    align-items: center;
    justify-content: center;
}
