.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  .card {
    background-color: blueviolet;
    color: white;
    width: 300px;
    padding: 10px;
    text-align: center;
  }